*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    line-height: 1.42857143;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: "ziggonl";
    src: url(../fonts/ziggonl.woff2)
}

@font-face {
    font-family: "museo700";
    src: url(../fonts/museosans_700-webfont.woff2);
}

@font-face {
    font-family: "museo900";
    src: url(../fonts/museosans_900-webfont.woff2);
}

.rij_correctie {
    width: 120%;
    margin-left: -1%;
}